:root {
	--web-view-ids: Web_export;
	--web-view-name: Web export;
	--web-view-id: Web_export;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: true;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Web_export {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Web export;
		--web-view-id: Web_export;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_export {
		position: absolute;
		display: block;
		width: 1920px;
		height: 2107px;
		background-color: rgba(44,44,44,1);
		overflow: hidden;
		--web-view-name: Web export;
		--web-view-id: Web_export;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Content {
		position: absolute;
		width: 1935.76px;
		height: 2114px;
		left: -8px;
		top: -7px;
		overflow: visible;
	}
	#BG {
		fill: rgba(44,44,44,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.BG {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 2107px;
		left: 8px;
		top: 7px;
	}
	#head_page {
		position: absolute;
		width: auto;
		height: 719.343px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#header_img_k {
		fill: url(#header_img_k);
	}
	.header_img_k {
		overflow: visible;
		position: absolute;
		width: 1935.76px;
		height: 719.343px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#header {
		position: absolute;
		width: 1800px;
		height: 80px;
		left: 58px;
		top: 16px;
		overflow: visible;
	}
	#get_started {
		position: absolute;
		width: 300px;
		height: 75px;
		left: 1500px;
		top: 0px;
		overflow: visible;
	}
	#get_started_n {
		position: absolute;
		width: 300px;
		height: 75px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Component_4__1 {
		position: absolute;
		width: 300px;
		height: 75px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 300px;
		height: 75px;
		left: 0px;
		top: 0px;
	}
	#Get_Started_q {
		left: 55px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
	#why_core {
		position: absolute;
		width: 140px;
		height: 35px;
		left: 1105px;
		top: 20px;
		overflow: visible;
	}
	#Why_Core_s {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_11 {
		opacity: 0;
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_11 {
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#features {
		position: absolute;
		width: 124px;
		height: 35px;
		left: 1306px;
		top: 20px;
		overflow: visible;
	}
	#Features_v {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_12 {
		opacity: 0;
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_12 {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#favicon {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 20px;
		overflow: visible;
	}
	#Core {
		left: 70px;
		top: 8px;
		position: absolute;
		overflow: visible;
		width: 147px;
		white-space: nowrap;
		text-align: center;
		font-family: Quantum;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#top_page {
		position: absolute;
		width: 1593px;
		height: 337px;
		left: 58px;
		top: 217px;
		overflow: visible;
	}
	#top_text {
		position: absolute;
		width: 901.14px;
		height: 70px;
		left: 1.86px;
		top: 122px;
		overflow: visible;
	}
	#Core_ba {
		fill: url(#Core_ba);
	}
	.Core_ba {
		overflow: visible;
		position: absolute;
		width: 133.02px;
		height: 43.5px;
		left: 0px;
		top: 13.1px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n__1_selfbot_on_the_market {
		left: 156.14px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 746px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#The_definition_of_exploitation {
		left: 2px;
		top: 218px;
		position: absolute;
		overflow: visible;
		width: 322px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#learn_more {
		position: absolute;
		width: 169px;
		height: 53px;
		left: 0px;
		top: 284px;
		overflow: visible;
	}
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 169px;
		height: 53px;
		left: 0px;
		top: 0px;
	}
	#Learn_more_ {
		left: 17px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 137px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(44,44,44,1);
	}
	#logo_header {
		position: absolute;
		width: 300px;
		height: 300px;
		left: 1293px;
		top: 0px;
		overflow: visible;
	}
	#favicon_ {
		position: absolute;
		width: 300px;
		height: 300px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_10 {
		opacity: 0;
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 300px;
		height: 300px;
		left: 0px;
		top: 0px;
	}
	#Why_Choose_core_page {
		position: absolute;
		width: 1570px;
		height: 391px;
		left: 200px;
		top: 719px;
		overflow: visible;
	}
	#Why_Choose_Core {
		left: 589px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 359px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#quote {
		position: absolute;
		width: 840px;
		height: 60px;
		left: 365px;
		top: 61px;
		overflow: visible;
	}
	#Its_the_little_details_that_ar {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 808px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#n_John_Wooden {
		left: 704px;
		top: 36px;
		position: absolute;
		overflow: visible;
		width: 137px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#why_choose_core {
		position: absolute;
		width: 1570px;
		height: 214px;
		left: 0px;
		top: 177px;
		overflow: visible;
	}
	#low_recource_usage {
		position: absolute;
		width: 334px;
		height: 194px;
		left: 1236px;
		top: 0px;
		overflow: visible;
	}
	#low_recourse_usage {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_7 {
		fill: rgba(41,41,41,1);
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 100px;
		height: 100px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_4 {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 20px;
		top: 20px;
		overflow: visible;
	}
	#LOW_RESOURCE_USAGE {
		left: 53px;
		top: 120px;
		position: absolute;
		overflow: visible;
		width: 229px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Core_has_a_low_resource_usage_ {
		left: 0px;
		top: 154px;
		position: absolute;
		overflow: visible;
		width: 335px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 17.5px;
		color: rgba(255,255,255,1);
	}
	#realtime_feedback {
		position: absolute;
		width: 300px;
		height: 194px;
		left: 845px;
		top: 0px;
		overflow: visible;
	}
	#real-time {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 100px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_6 {
		fill: rgba(41,41,41,1);
	}
	.Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 100px;
		height: 100px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_3 {
		position: absolute;
		width: 66.857px;
		height: 58.5px;
		left: 17px;
		top: 20.5px;
		overflow: visible;
	}
	#REALTIME_FEEDBACK_br {
		left: 48px;
		top: 120px;
		position: absolute;
		overflow: visible;
		width: 205px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Core_gives_you_real-time_updat {
		left: 0px;
		top: 154px;
		position: absolute;
		overflow: visible;
		width: 301px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 17.5px;
		color: rgba(255,255,255,1);
	}
	#speed {
		position: absolute;
		width: 306px;
		height: 214px;
		left: 416px;
		top: 0px;
		overflow: visible;
	}
	#speed_bu {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 110px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_5 {
		fill: rgba(41,41,41,1);
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 100px;
		height: 100px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_2 {
		position: absolute;
		width: 68px;
		height: 52.889px;
		left: 16px;
		top: 23.111px;
		overflow: visible;
	}
	#SPEED_bx {
		left: 128px;
		top: 120px;
		position: absolute;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Core_is_one_of_the_fastest_too {
		left: 0px;
		top: 154px;
		position: absolute;
		overflow: visible;
		width: 307px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 17.5px;
		color: rgba(255,255,255,1);
	}
	#silent_api_bypass {
		position: absolute;
		width: 334px;
		height: 214px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#silent_api_bypass_b {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_4 {
		fill: rgba(41,41,41,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 100px;
		height: 100px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_1 {
		position: absolute;
		width: 56.478px;
		height: 64.546px;
		left: 21.522px;
		top: 17.454px;
		overflow: visible;
	}
	#SILENT_API_BYPASS_b {
		left: 75px;
		top: 120px;
		position: absolute;
		overflow: visible;
		width: 185px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Core_security_features_allow_f {
		left: 0px;
		top: 154px;
		position: absolute;
		overflow: visible;
		width: 335px;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 17.5px;
		color: rgba(255,255,255,1);
	}
	#marker_lines {
		position: absolute;
		width: 1920.5px;
		height: 611.5px;
		left: 8px;
		top: 107px;
		display: none;
		overflow: visible;
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 1px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_2 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 1px;
		left: 0.5px;
		top: 611.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n__categories {
		position: absolute;
		width: 1752px;
		height: 310px;
		left: 92px;
		top: 1714px;
		overflow: visible;
	}
	#bronze {
		position: absolute;
		width: 544px;
		height: 310px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#bronze_rectangle_cb {
		fill: url(#bronze_rectangle_cb);
	}
	.bronze_rectangle_cb {
		position: absolute;
		overflow: visible;
		width: 544px;
		height: 310px;
		left: 0px;
		top: 0px;
	}
	#favicon_cc {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 80px;
		top: 46px;
		overflow: visible;
	}
	#BRONZE_cd {
		left: 190px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 165px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#COMING_SOON {
		left: 92px;
		top: 160px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#silver {
		position: absolute;
		width: 544px;
		height: 310px;
		left: 604px;
		top: 0px;
		overflow: visible;
	}
	#silver_rectangle_ch {
		fill: url(#silver_rectangle_ch);
	}
	.silver_rectangle_ch {
		position: absolute;
		overflow: visible;
		width: 544px;
		height: 310px;
		left: 0px;
		top: 0px;
	}
	#favicon_ci {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 80px;
		top: 46px;
		overflow: visible;
	}
	#SILVER_cj {
		left: 206px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#COMING_SOON_ck {
		left: 92px;
		top: 160px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#gold {
		position: absolute;
		width: 544px;
		height: 310px;
		left: 1208px;
		top: 0px;
		overflow: visible;
	}
	#gold_rectangle_cn {
		fill: url(#gold_rectangle_cn);
	}
	.gold_rectangle_cn {
		position: absolute;
		overflow: visible;
		width: 544px;
		height: 310px;
		left: 0px;
		top: 0px;
	}
	#favicon_co {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 80px;
		top: 46px;
		overflow: visible;
	}
	#GOLD_cp {
		left: 217px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#COMING_SOON_cq {
		left: 93px;
		top: 160px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#features_cr {
		position: absolute;
		width: 678.543px;
		height: 314.492px;
		left: 207.667px;
		top: 1219px;
		overflow: visible;
	}
	#features_cs {
		position: absolute;
		width: 419px;
		height: 173px;
		left: 0.333px;
		top: 0px;
		overflow: visible;
	}
	#Features_ct {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 220px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 53px;
		color: rgba(255,255,255,1);
	}
	#Core-Bot_is_one_of_the_most_di {
		left: 0px;
		top: 77px;
		position: absolute;
		overflow: visible;
		width: 420px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#top_features {
		position: absolute;
		width: 574.543px;
		height: 24px;
		left: 0px;
		top: 202.492px;
		overflow: visible;
	}
	#check-solid {
		fill: rgba(255,255,255,1);
	}
	.check-solid {
		overflow: visible;
		position: absolute;
		width: 26.999px;
		height: 19.115px;
		left: 0px;
		top: 2.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Mask_Group_5 {
		position: absolute;
		width: 141.86px;
		height: 18.86px;
		left: 41.163px;
		top: 4.4px;
		overflow: visible;
	}
	#n__Allows_to_absolutely_destro {
		left: 188.543px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 387px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#top_features_cz {
		position: absolute;
		width: 678.543px;
		height: 24px;
		left: 0px;
		top: 246.492px;
		overflow: visible;
	}
	#check-solid_c {
		fill: rgba(255,255,255,1);
	}
	.check-solid_c {
		overflow: visible;
		position: absolute;
		width: 26.999px;
		height: 19.115px;
		left: 0px;
		top: 2.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Mask_Group_6 {
		position: absolute;
		width: 112.58px;
		height: 18.86px;
		left: 42.023px;
		top: 4.4px;
		overflow: visible;
	}
	#n__Uses_blazing_fast_proxies_t {
		left: 159.543px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 520px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#top_features_c {
		position: absolute;
		width: 656.543px;
		height: 24px;
		left: 0px;
		top: 290.492px;
		overflow: visible;
	}
	#check-solid_da {
		fill: rgba(255,255,255,1);
	}
	.check-solid_da {
		overflow: visible;
		position: absolute;
		width: 26.999px;
		height: 19.115px;
		left: 0px;
		top: 2.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Mask_Group_7 {
		position: absolute;
		width: 91.6px;
		height: 19.18px;
		left: 40.643px;
		top: 4.4px;
		overflow: visible;
	}
	#n__Uses_an_AI_to_reply_when_yo {
		left: 137.543px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 520px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 1570px;
		height: 2px;
		left: 183.5px;
		top: 1164.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#free_trial {
		position: absolute;
		width: 785px;
		height: 335px;
		left: 985px;
		top: 1219px;
		overflow: visible;
	}
	#Rectangle_9_da {
		fill: url(#Rectangle_9_da);
	}
	.Rectangle_9_da {
		position: absolute;
		overflow: visible;
		width: 785px;
		height: 335px;
		left: 0px;
		top: 0px;
	}
	#favicon_db {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 33px;
		top: 20px;
		overflow: visible;
	}
	#Free_Trial_dc {
		left: 170px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 179px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#COMING_SOON_dd {
		left: 213px;
		top: 138px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
}
